/* 
>>>>>>>>>>>>> BASE STYLES <<<<<<<<<<<<<< */

* {
    box-sizing: border-box;
}

img {
    max-width: 100%;
    display: block;
    margin-bottom: 2%;
}



/* 
>>>>>>>>>>>>> CONTAINER & ROW STYLES <<<<<<<<<<<<<< */

.page-wrapper {
    width: 95%;
    margin: 0 auto;
}

.f-width {
    padding: 100px 0;
}

.column-row {
    width: 90%;
    margin: 0 auto;
}


/* 
>>>>>>>>>>>>> COLUMN STYLES <<<<<<<<<<<<<< */

.col {
    float: left;
    padding: 20px;
}

.col-in {
    float: left;
    padding: 20px 20px 20px 0;
}

.p-r {
    margin-right: 5%;
}

.p-l {
    margin-left: 5%;
}

.c-2 {
    width: 20%;
}

.c-3 {
    width: 30%;
}

.c-4 {
    width: 45%;
}

.c-5 {
    width: 55%;
}

.l-image {
    float: left;
    margin-right: 5%;
    margin-bottom: 5%;
}

.r-image {
    float: right;
    margin-right: 5%;
    margin-bottom: 5%;
}

.med-img {
    width: 45%;
}

.lg-img {
    width: 95%;
}

.test-float {
    float: left;
    width: 50%;
    padding-right: 50px;
}








/* 
>>>>>>>>>>>>> CLEARFIX <<<<<<<<<<<<<< */
.clear:after {
    content: " ";
    display: table;
    clear: both;
}


/* 
>>>>>>>>>>>>> TEST BORDER <<<<<<<<<<<<<< */
/*.test-border {
    border: 1px solid red;
}*/

