/* 
>>>>>>>>>>>>> BASE STYLES <<<<<<<<<<<<<< */

* {
    box-sizing: border-box;
}

img {
    max-width: 100%;
    display: block;
    margin-bottom: 2%;
}

/* 
>>>>>>>>>>>>> TEXT STYLES <<<<<<<<<<<<<< */

.watermark-text {
    font-size: 60px;
    color: rgba(34,26,26,0.5);
    text-transform: uppercase;
    font-weight: bold;
    }

/* 
>>>>>>>>>>>>> CONTAINER & ROW STYLES <<<<<<<<<<<<<< */

.page-wrapper {
    width: 95%;
    margin: 0 auto;
}

.f-width {
    padding: 100px 0;
}

.column-row {
    width: 90%;
    margin: 0 auto;
}


/* 
>>>>>>>>>>>>> COLUMN STYLES <<<<<<<<<<<<<< */


/* 
>>>> FLOATED COLUMNS <<<< */

.col {
    float: left;
    padding: 20px;
}

.col-in {
    float: left;
    padding: 20px 20px 20px 0;
}

.p-r {
    margin-right: 5%;
}

.p-l {
    margin-left: 5%;
}

.c-2 {
    width: 20%;
}

.c-3 {
    width: 30%;
}

.c-4 {
    width: 45%;
}

.c-40 {
    width: 40%;
    }

.c-5 {
    width: 55%;
}

.l-image {
    float: left;
    margin-right: 5%;
    margin-bottom: 5%;
}

.r-image {
    float: right;
    margin-right: 5%;
    margin-bottom: 5%;
    margin-left: 5%;
}

.med-img {
    width: 45%;
}

.lg-img {
    width: 95%;
}

.test-float {
    float: left;
    width: 50%;
    padding-right: 50px;
}

.test-float-2 {
    float: left;
    width: 30%;
    padding-right: 50px;
    }


/* 
>>>> CSS COLUMNS <<<< */

.text-wrapping {
    columns: 2;
    margin-bottom: 50px;
    }
    
    
.text-wrapping p {
    margin: 0 50px 20px 0;
    text-align: justify;
    }

.text-wrapping-3 {
    columns: 3;
    margin-bottom: 50px;
    }
    
.text-wrapping-3 p {
    margin: 0 50px 20px 0;
    text-align: justify;
    }


/* 
>>>>>>>>>>>>> POSITIONED ITEMS <<<<<<<<<<<<<< */

.positioning {
    position: relative;
    overflow: hidden;
}
    
.watermark {
    position: absolute;
    top: 100px;
    left: 15px;
    transform: rotate(-30deg);
}

.b {
    left: 450px;
    }
    
.c {
    top: 500px;
    }
    


/* 
>>>>>>>>>>>>> CLEARFIX <<<<<<<<<<<<<< */
.clear:after {
    content: " ";
    display: table;
    clear: both;
}


/* 
>>>>>>>>>>>>> TEST BORDER <<<<<<<<<<<<<< */
/*.test-border {
    border: 1px solid red;
}*/

