* {
    box-sizing: border-box;
}


ul {
    list-style: none;
}

a {
    text-decoration: none;
}

p,
ul,
li {
    margin: 0;
    padding: 0;
}

img {
    max-width: 100%;
}

/*p,
li,
a {
    font-size: 14px;
}

p {
    line-height: 1.8;
}



h4 {
    text-transform: uppercase;
    margin: 0;
    font-size: 15px;
}

h5 {
    font-size: 14px;
} */

.row {
    max-width: 1240px;
    margin: 0 auto;
}

.row-small {
    max-width: 816px;
    margin: 0 auto;
}

.left {
    float: left;
}

.right {
    float: right;
}


.clear:after {
    content: " ";
    display: block;
    clear: both;
}


.header-wrap {
    height: 950px;
    background-image:url(../assets/poster.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.main-nav {
    overflow: hidden;
    background-color: transparent;
    padding: 40px 0;
}

.logo {
    width: 35px;
    height: 35px;
}

.main-nav a {
    color: #000;
    font-size: 13px;
    text-transform: uppercase;
    padding-left: 20px;
    
}

.intro-wrap {
    position: relative;
    height: 800px;
}

.intro-content {
    width: 45%;
    position: absolute;
    top:50px;
    left: 100px;
}

.intro-h1 {
    font-size: 50px;
    color: #fff;
}

.intro-content p {
    font-size: 20px;
    color: #fff;
    line-height: 1.8;
}

.services {
    background-color: #000;
    padding: 100px 0;
    color: #fff;
}

.services h4 {
    color: grey;
    text-transform: uppercase;
    margin-bottom: 45px;
}

.services .col {
    background: #141414;
    padding: 60px;
    text-align: center;
    min-height: 380px;
}

.col-1 {
    width: 392px;
}

.p-r {
    margin-right: 32px;
}

.p-l {
    margin-left: 32px;
}

.illu {
    height: 75px;
    width: 75px;
    margin-bottom: 35px;
}

.principles {
    padding: 100px 0;
}

.principles .col-1 {
    padding: 0 10px;
}

.principles h4 {
    text-transform: uppercase;
}

.principles p,
.principles h4 {
    color: grey;
}

.col-2 {
    width: 816px;
}

.block-quote {
    width: 85%;
}

.block-quote p {
    color:#2646FF;
    font-size: 20px;
    line-height: 1.6;
}

.authorship {
    position: relative;
    width: 100%;
    min-height: 100px;
    margin-top: 30px;
}

.authorship div {
    display: inline-block;
}

.author-bio {
    position: absolute;
    top: 5px;
    left: 70px;
}

.author-photo {
    border-radius: 100px;
    width: 50px;
    height: 50px;
}

.authorship h6 {
    margin-top: 0;
    margin-bottom: 10px;
}

.principles-list {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.principles-list li {
    width: 50%;
    float: left;
    margin-bottom: 60px;
    padding-right: 40px;
    position: relative;
    counter-increment: step-counter;
}

.principles-list li::before {
    content: counter(step-counter);
    font-weight: 700;
    color: #2646FF;
    text-align: right;
    width: 20px;
    left: -40px;
}

.principles-list li::after {
    content: "/";
    color: #A7A9B4;
    left: -16px;
}

.principles-list li::before,
.principles-list li::after {
    font-size: 15px;
    position: absolute;
    top: 6px;
}

.principles-list h5 {
    margin-top: 0;
    font-size: 20px
}

.insights {
    background-color: #F4F7F8;
}

.insights h4 {
    text-transform: uppercase;
    color: grey;
}

.social {
    margin-left: 278px;
    margin-top: 50px;
}

.social-links {
    font-size: 20px;
}

.social-links li {
    margin-bottom: 20px;
}

.social-links li:first-child {
    margin-top: 20px;
}

.social-links li a {
    color: #2646FF;
}

.cta {
    background-color: #BBF7D3;
    padding: 50px 0;
}

.cta h4 {
    margin-top: 0;
    margin-bottom: 15px;
    text-transform: none;
}

.cta p {
    color: grey;
    margin-bottom: 20px;
}

.contact-button {
    display: inline-block;
    height: 52px;
    line-height: 50px;
    text-align: center;
    padding: 0 20px;
    font-size: 18px;
    background-color: transparent;
    border: 2px solid #2646ff;
    color: #2646ff;
}

.contact-button:hover {
    color: #fff;
    background-color: #2646FF;
}

.main-footer {
    background-color: #000;
    padding: 100px 0;
}

 .footer-nav,
.main-footer p {
    font-size: 11px;
    text-align: center;
}

.footer-nav {
    color: #fff;
}

.nav-items li {
    display: inline-block;
    padding-right: 20px;
    padding-left: 20px;
}

.nav-items li a {
    color: #fff;
    text-transform: uppercase;
}

.main-footer p {
    color: grey;
    margin-bottom: 30px;
}

.footer-nav .nav-items {
    margin-bottom: 30px;
} 




/*.test-border {
    border: 1px solid red;
}*/
