/* CSS Document */

/* 
>>>>>>>>>>>>>>>>>>>>>>>>>> TEXT STYLES <<<<<<<<<<<<<<<<<<<<<<<<<<<< */

p,
li,
h1,
h2,
h3,
h4,
h5,
h6 {
    color: #333;
    font-family: 'Arial Narrow' sans-serif;
    }
    
h1,
h5 {
    text-transform: uppercase;
    }
   
    
ul,
ol,
li {
    list-style: none;
    padding: 0;
    margin: 0;
    }
    
.subheader {
    color: #000;
    font-size:0.938rem;
    font-weight: bold;
    margin-top: 0.2rem;
    margin-bottom: 0.5rem;
    }
    
 .subtype,
 .subtype a {
     color: #333;
     font-size:0.750rem;
     }
    
.text-snippet {
    color: #000;
    font-size: 0.906rem;
    font-style: italic;
    letter-spacing: normal;
    }
    

  

/* 
>>>>>>>>>>>>>>>>>>>>>>>>>>  LINK STYLES <<<<<<<<<<<<<<<<<<<<<<<<<<<< */

a {
    color: #333;
    text-decoration: underline;
    }
    
a:hover {
    color: #000;
    }
    



/* 
>>>>>>>>>>>>>>>>>>>>>>>>>> NAV AND FOOTER STYLES <<<<<<<<<<<<<<<<<<<<<<<<<<<< */

.top-bar,
.top-bar ul {
    background-color: transparent;
    }

.main-nav {
    border-bottom: 5px solid #fffa00;
    margin-bottom: 2rem;
    }

.logo {
    width: 60%;
    }
    
.main-footer {
    background-color: #fffa00;
    min-height: 137px;
    margin-top: 2rem;
    }

.sticky-footer-wrap {
    min-height: calc(100vh - 137px);
    }




/* 
>>>>>>>>>>>>>>>>>>>>>>>>>> SIDEBAR STYLES <<<<<<<<<<<<<<<<<<<<<<<<<<<< */

 .sidebar.intro-list ul li {
     margin-bottom: 2.5rem;
     }
     
 .sidebar.intro-list h5 {
     margin-bottom: 1rem;
     }
     
 .sidebar.intro-list h6 {
     color: #333;
     font-weight: bold;
     }
     
 .sidebar.intro-list ul li p:nth-child(3) {
     font-size: 0.906rem;
     }
    
    
    
       
/* 
>>>>>>>>>>>>>>>>>>>>>>>>>> PROJECT GRID STYLES <<<<<<<<<<<<<<<<<<<<<<<<<<<< */

.project-grid {
    margin-bottom: 2rem;
    }
    
.project-grid p {
     text-align: center;
     }

hr {
    max-width: 75rem;
    height: 0;
    border-right: 0;
    border-top: 0;
    border-bottom: 1px solid #cacaca;
    border-left: 0;
    margin: 1.25rem auto;
    clear: both;
    }
    
/* 
>>>>>>>>>>>>>> OUR WORK: COLUMN LAYOUT <<<<<<<<<<<<<<< */

.fl-c {
    float: left;
    width: 45%;
    }
    
.p-r {
    margin-right: 10%;
    }

/*.project-grid div {
    border: 1px solid red;
    }*/
    
    
    
    

/* 
>>>>>>>>>>>>>>>>>>>>>>>>>> CUSTOM MEDIA QUERIES <<<<<<<<<<<<<<<<<<<<<<<<<<<< */

/* Large and up | 1024px and larger */
@media screen and (min-width: 64em) {
    
    .column,
    .columns {
        padding-left: 2rem;
        }
        
     hr {
        margin: 1.25rem auto 3rem auto;
        }

        
/* 
>>>>>>>>>>>>>> NAVIGATION STYLES <<<<<<<<<<<<<<< */
        
    .top-bar-right {
        margin-top: 1.563rem;
        }
        
    .top-bar-left {
        margin-top: 1rem;
        }
   
        
/* 
>>>>>>>>>>>>>> PROJECT GRID STYLES <<<<<<<<<<<<<<< */
        
    .g-r {
        margin-bottom: 1rem;
        padding: 1.5rem 0;
        }
    
    .project-grid p {
        text-align: initial; 
        }
    
     .sidebar.intro-list ul li {
        width: 75%;
        }
        
/* 
>>>>>>>>>>>>>> LINK STYLES <<<<<<<<<<<<<<< */
    
    a {
        text-decoration: none;
        }
        
    .subheader a:hover {
        color: #333;
        font-weight: bold;
        }
        
    .text-snippet a:hover {
        color: #333;
        font-weight: normal;
    }

    .main-nav-links a:hover,
    .main-footer-links a:hover,
    .cta a:hover,
    .sidebar.intro-list a:hover {
        background-color: #ccffcc;
        color: #000;
        font-weight: bold;
        }
    
    .grid-hover:hover {
        background-color: #ccffcc;
        }    
     
    .sidebar.intro-list a {
        font-weight: bold;
        }
     
        
/* 
>>>>>>>>>>>>>> ABOUT PAGE STYLES <<<<<<<<<<<<<<< */
        
    .menu.large-horizontal li {
        display: inline-block;
        }
    
    .sidebar.intro-list .i-l-h li {
        width: 20%;
        margin-right: 5%;
        }
    
   .sidebar.intro-list .menu li {
        vertical-align: bottom;
        }
        
/* 
>>>>>>>>>>>>>> OUR WORK: COLUMN LAYOUT <<<<<<<<<<<<<<< */

.fl-c {
    width: 30%;
    margin-bottom: 2rem;
    }
   
.p-r {
    margin-right: 0;
    }
 
.p-r-r {
    
    margin-right: 5%;
    margin-left: 5%;
    }
    
}

    
/* Small only | 639px and below */
@media screen and (max-width: 39.9375em) {
   
     .grid-block {
            margin-bottom: 2rem;  
         }   
     
    }